.delivery,
.delivery__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delivery__wrapper {
  margin: 40px 0 8px 100px;
}

.delivery__icon {
  width: 44px;
  height: 22px;
  margin-right: 28px;
}

.delivery__text {
  color: #4f4f4f;
  line-height: 20px;
  font-weight: 500;
  font-style: 18px;
}

@media screen and (max-width: 1024px) {
  .delivery,
  .delivery__wrapper {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .delivery__wrapper {
    margin: 30px 0 0 calc(50% - 256px / 2);
  }
}

@media screen and (max-width: 500px) {
  .delivery {
    position: relative;
    bottom: 400px;
  }
}
