.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer__logo {
  margin-top: 142px;
}

.footer__media {
  margin-top: 65px;
}

.footer__icon {
  display: inline-block;
  padding: 0 25px;
}

.footer__icon--facebook,
.footer__icon--instagram,
.footer__icon--twitter {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 0.5s;
}

.footer__icon--facebook {
  width: 11px;
  height: 19px;

  background-image: url("../images/media/facebook.svg");
}

.footer__icon--facebook:hover {
  background-image: url("../images/media/facebook-colored.svg");
}

.footer__icon--twitter {
  width: 22px;
  height: 17px;

  background-image: url("../images/media/twitter.svg");
}

.footer__icon--twitter:hover {
  background-image: url("/images/media/twitter-colored.svg");
}

.footer__icon--instagram {
  width: 18px;
  height: 18px;

  background-image: url("../images/media/instagram.svg");
}

.footer__icon--instagram:hover {
  background-image: url("/images/media/instagram-colored.svg");
}

.footer__rights {
  font-size: 14px;
  color: #bdbdbd;
  margin-bottom: 100px;
}

.footer__arrow {
  display: none;
}

@media screen and (max-width: 1024px) {
  .footer__logo {
    margin: 142px auto 0;
  }
}
@media screen and (max-width: 500px) {
  .footer__logo {
    margin: 0 auto;
    opacity: 0;
  }
  .footer__arrow {
    display: block;
    position: absolute;
    top: 20%;
    right: 15%;
    transform: rotate(90deg);
  }
  .footer__rights {
    width: 80%;
    text-align: center;
  }
}
