.lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lang__logo,
.lang__menu {
  margin-bottom: 50px;
}

.lang__logo {
  margin-left: 123px;
}

.lang__menu {
  margin-right: 123px;
  margin-bottom: 50px;
}

.lang__list {
  margin: 26px 0;
}

.lang__item {
  line-height: 18px;
  display: inline-block;
  list-style: none;
}

.lang__buy {
  height: 48px;
  width: 102px;
  margin-left: 37px;
  background-color: #333;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  cursor: pointer;
  transition: background-color 1s, border-radius 1s, box-shadow 1s;
}

.lang__buy:hover {
  background-color: #4f4f4f;
  border-radius: 6px;
  box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.35);
}

.lang__item--specs {
  border: 1px solid transparent;
  margin-right: 55px;
  padding: 15px;
  color: #4f4f4f;
  line-height: 21px;
  border-radius: 6px;
  transition: background-color 1s, border 1s, box-shadow 1s;
}

.lang__item--specs:hover {
  border: 1px solid #1a1a1a6c;
  box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.35);
}

.lang__item--en {
  color: #333;
}

.lang__item--ua {
  color: #bdbdbd;
}

@media screen and (max-width: 1024px) {
  .lang {
    overflow: hidden;
    justify-content: space-between;
  }
  .lang__logo {
    margin-left: 34px;
  }
  .lang__buy {
    margin-right: 0;
  }
  .lang__item--specs {
    padding: 0 15px;
    margin: 0;
  }
  .lang__menu {
    margin-right: 100px;
  }
}
@media screen and (max-width: 768px) {
  .lang__menu {
    margin-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .lang {
    display: grid;
    grid-template-columns: 32vw 18vw;
    column-gap: 50vw;
  }
  .lang__logo {
    margin: 28px 0 0 30px;
    float: left;
  }
  .lang__menu {
    opacity: 0;
    margin: 0 calc(50vw - 160px) 20px;
    display: flex;
    width: 320px;
    transition: opacity 0.5s;
  }
}
